<div style="text-align:center">
  <h1>{{title}}</h1>
</div>

<h2>Interpolation</h2>

<ul>
  <li>This '{{StrInterPoEle}}' is element interpolation</li>
  <li>Expression '{{100+200}}'</li>
  <li>Method Cal '{{getFullName('Ganesh', 'Mahesh')}}'</li>
</ul>

<h2>Template Expression</h2>
<ul>
  <li>'<span [hidden]='strTmplExpression'>This is Visible</span>'</li>
  <li [attr.somecustomattribute]="CustomAttrVal">Custom Attribute</li>

  <li [class.somestyle]="isValueSet"> back color is blue</li>
  <li [style.width.px]="curSize"> width is set to {{curSize}} </li>

</ul>

<h2>Event Expression</h2>
<button (click)="clickHandler($event)"> click to </button>

<p>{{labelmsg}}</p>
<input type="text" #label1 (change)="updateValue(label1.value)">


<h2>check for value binding</h2>
<p>Employee Name: {{ObjEmp?.empName}}</p>


<input type="text" [(value)]="ObjEmp.empName">



<input type="text" [(value)]="curSize" name="demo">